.Header {
	background-color: #023246;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: calc(8px + 1vmin);
	color: white;
	font-family: 'Segoe UI', monospace;
	user-select: none;
	text-align: left;
	padding-left: 20px;
}
.Header h1 {
	cursor: pointer;
}
