.Dropdowncontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
}

.Filtercontainer,
.FavAndLogocontainer {
	display: flex;
	gap: 20px;
}

.FavAndLogocontainer {
	justify-content: right;
}

.CardContainer {
	display: flex;
	justify-content: center;
}

.StoreCardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 5px;
	justify-content: center;
	margin-bottom: 30px;
}

.toggleTitle {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.loadingContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.lds-default2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.ErrorPage {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	margin: 0;
}

.errorMessage {
	text-align: center;
	padding: 20px;
	background-color: #ffdddd;
	border: 1px solid #ff0000;
	border-radius: 5px;
}

.errorIcon {
	font-size: 48px;
	margin-bottom: 10px;
}

.errorText {
	font-size: 18px;
}

@media screen and (max-width: 670px) {
	.Filtercontainer,
	.FavAndLogocontainer {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 435px) {
	.Dropdowncontainer {
		flex-direction: column;
		gap: 20px;
	}
}
