.container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
	padding: 3%;
}

.information-container {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.logo-name {
	display: flex;
	margin-bottom: 10px;
	margin-bottom: 1px;
}

.logo-name img {
	width: 60px;
	margin-right: 10px;
}

.opening-hours {
	margin-left: 20px;
	font-size: 12px;
	margin-bottom: 40px;
}

.company-info a {
	margin-top: 60px;
	color: black;
	display: block;
	max-width: 100%;
	white-space: normal;
	word-wrap: break-word;
}

.company-info a,
.company-info p {
	font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
	.logo-name {
		margin-bottom: 20px;
	}
	.opening-hours {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.company-info a,
	.company-info p {
		font-size: 1rem;
	}
}

.loadingContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
.lds-default2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
