.container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
	padding: 3%;
}

.information-container {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.logo-name {
	display: flex;
	margin-bottom: 10px;
	margin-bottom: 1px;
}

.logo-name img {
	width: 60px; /* Adjust the logo width as needed */
	margin-right: 10px;
}

.opening-hours {
	margin-left: 20px;
	font-size: 12px;
	margin-bottom: 40px;
}

.company-info a {
	margin-top: 60px;
	color: black;
}

//N책 er denne i b책de AllStores og Storepage sin CSS. Burde man heller bare f책 StorePage.tsx til 책 importere AllStores.css?
.loadingContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
.lds-default2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
